

.color-picker {
    -fx-padding: 2px;
}

.edit_toolbar_row {
    -fx-padding: 0px;
    -fx-spacing: 10;
    -fx-background-color: #ddddff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

.color_chooser_pane {
    -fx-background-color:seashell;
    -fx-padding: 0px;
}

.color_chooser_control {
    -fx-font-weight:bold;
    -fx-font-size:20;     
}



.bordered_pane {
    -fx-background-color: #66cccc;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-hgap: 30;
    -fx-border-width: 2px;
    -fx-border-color: #20b2aa;
        -fx-font-weight: bold;
    fx-font-size: 14px;
}

.canvas {
    -fx-background-color: white;
}

.component {
    -fx-font-weight: bold;
    fx-font-size: 20px;
        -fx-background-color: #66cccc; 
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
        -fx-border-width: 2px;
    -fx-border-color: #20b2aa;
}
